// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.title {
  margin-top: 20px;
  text-align: center;
  font-size: 48px;
}

.form {
  &Wrapper {
    margin-top: 10px;
    text-align: center;
  }
  &Name {
    display: inline-block;
    width: 200px;
    vertical-align : middle;
    margin-right: 3px;
  }
}

.graphWrapper {
  margin-top: 20px;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
}